.info {
    color: green;
    background: lightgrey;
    font-size: 15px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
.error {
    color: rgba(255, 0, 0, 0.544);
    background: lightgrey;
    font-size: 15px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }

li {
    color: gray;
    font-style: italic;
}
img {
  max-width: 200px;
  background: rgba(137, 246, 200, 0.224);
}
.movies {
  width: 50%;
  flex: 2;
  flex-wrap: nowrap;
  display: block;
  flex-direction: center;
  list-style: none;
  margin: 10px;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  border-style: groove;
  border-width: 1px;
}
.movies h2 {
  border-style: groove;
  border-width: 1px;
  background: rgba(137, 246, 200, 0.224);
}
.movies li {
  background: rgba(137, 246, 200, 0.224);
  color: black;
  font-style: italic;
}
.movies button {
  color: white;
  background: #27de86ad;
  border-radius: 10px;
  font-size: 12px;
}

.button1 {
    background-color: #27de86ad;
    border: none;
    color: black;
    padding: 5px 5px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
  }

  .button2 {
    background-color: rgba(244, 112, 112, 0.595);
    border: none;
    color: black;
    padding: 5px 5px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
  }
  .showbutton {
    background-color: rgba(255, 107, 248, 0.738);
    color: white;
    font-size: 8px;
  }
  .closebutton {
    background-color: rgba(255, 107, 107, 0.738);
    color: black;
    font-size: 10px;
    
  }
.div1 {
    width: 50%;
    border-style: groove;
    border-width: 1px;
    background: rgba(237, 228, 234, 0.224);
    font-size: 20px;
    font-weight: bold;
}
.div1 li {
  font-size: 15px;
  font-weight: normal;
}
