.info {
    color: green;
    background: lightgrey;
    font-size: 15px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
.error {
    color: rgba(255, 0, 0, 0.544);
    background: lightgrey;
    font-size: 15px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
li {
    color: gray;
    font-style: italic;
}
.button1 {
    background-color: #27de86ad;
    border: none;
    color: black;
    padding: 5px 5px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
  }

  .button2 {
    background-color: rgba(244, 112, 112, 0.595);
    border: none;
    color: blackwhite;
    padding: 5px 5px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
  }
.div1 {
    border-style: groove;
    border-width: 1px;
    background: rgba(239, 149, 206, 0.224);
}